.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 1s;
}
.title{
  text-align: center;
  margin:  auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: "";
  background: #0f12c2cb;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.col-4 img{
      width: 75%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
  
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-4 :hover {
  transition: 0.1s;
}
.col-4:hover {
  transform: translate(0, -10px);
}
.col-4  {
  transition: 0.1s;
}
.col-4:hover {
  transform: translate(0, -10px);
}


nav{
	background: #0082e6;
	height: 80px;
	width: 100%;
  position:relative;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 60px;
	padding: 0 100px;
	font-weight: bold;
  position: absolute;
  margin: 12px auto;

}
nav ul{
	float:right;
	margin-right: 20px;
}
nav ul li{
	display:inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
padding:  7px 13px;
border-radius: 3px;
text-transform: uppercase;
}
a.active,a:hover{
	background: #1b9bff;
	transition:  .5s;
}
.chekbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
}
#chek{
	display: none;
}
@media (max-width: 952){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}

}
@media(max-width: 858){
	.chekbtn{
		display: block;
	}

ul{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #2c3e50;
	top: 80px;
	left: 0;
	text-align: center;
	
}
nav ul li a {
	font-size: 20px;
}
a:hover,:active{
	background: none;
	color: #0082e6;
}


nav ul li a {
	font-size: 15px;
}
ul{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #2c3e50;
	top: 80px;
	left: -100%;
	text-align: center;
	transition: all .5s;
}
nav ul li{
	display: block;
	margin: 50px 0;
	line-height: 30px;
}


nav ul li a{
	font-size: 20px;
}
a:hover,:active{
	background: none;
	color: #0082e6;
}
#check:checked ~ ul{
	left: 0;
}
}
q{
	font-size: 40px;
	color:black;
}
#home span{
color: coral;
}
button{
	font-size:8px ;
	font-weight: 700;
	outline: none;
	border: non0;
	background-color: black;
	color:white;
	padding: 13px 30px;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.3s ease;	
}
 button:hover {
	 background-color: #3a3833;
 }
 #home{
	 background-image: url(pexels-pixabay-46798.jpg);
	 width: 100%;
	 height: 100vh;
	 background-size: cover;
 }
   
 .pl{
   margin: 0 auto;
  
 }
 .bottom
  {
     
    text-align: center;
  }
  